html, body {
  margin: 0;
  padding: 0;
}

.blowButton{
  width: 80px;
  height: 80px;
  background-image: url("./assets/stone.png");
  background-color: #ffffff;
  background-size: cover;
  display: inline-block;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  outline: none;
}
